[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = '3.6'


[packages]

flask = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
markdown = "*"
flask-login = "*"
pylint = "*"


[dev-packages]

