{% extends "base.html" %}
{% block content %}


<div class="post">

<div class="title">{{ post.1.title }}</div>
<small>
        published:&emsp;{{post.1.pub_date}} &emsp; &emsp;
        
        tags:&emsp;


        {% for tag in post.1.tags.split(' ') %}
        <span class="badge badge-light"><a style="font-weight:300;color:black;font-size:10px;" href="/tag/{{tag}}">{{tag}}</a></span>

        {% endfor %}
        
        </small>
<hr style="background-color:white;">

<p style="height:30px;"></p>


    {{ post.content|safe }}

    
</div>



{% endblock %}