{% extends "base.html" %}
{% block content %}

<div class="sub-nav">
    {% for year in years %}
        <a href="#{{ year }}">{{ year }}</a>
    {% endfor %}
</div>

<hr>

<p style="height: 20px;"></p>

{% for year in years %}
<a name="{{ year }}"></a><div class="section-head"><h4>{{ year }}</h4></div></a>
    {% for code, data in posts.items()|reverse %}
        {% if data.pub_date.endswith(year) and data.published != 'False' %}
            <div class="blog-post">
                <small>{{data.pub_date}}</small>
                <h4><a href="/blog/{{ data.title|replace(" ", "-") }}">{{data.title}}</a></h4>
                <div class="blog-post-strap">{{data.strap}}</div>
                <div>
                    <small>
                        tags: 
                        {% for tag in data.tags.split(' ') %}
                        <a href="/tag/{{tag}}">{{tag}}</a>, 
                        {% endfor %}
                    </small>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <div style="color: lightgray; text-align: center; word-spacing: 50px; font-size: 50px">· · ·</div>
{% endfor %}

{% endblock %}