<div style="margin: 0 auto;text-align:left;width:90%;padding:20px;background-color:white; border-color:rgba(0, 0, 0, .12); border-style: solid;border-width:1px;border-radius: 5px;">

        <div style="display:flex;justify-content:flex-start;">
        <div>
            <img src="static/img/flat_thumb.jpg" style="border-radius: 25px;width:50px;height:50px;">
            </div>
        
            <div>
                <p style="padding-left:15px;margin:0;font-weight:900;">Flatlands</p>
                <p style="padding-left:15px;margin:0;color: gray;">@flatlandsio</p>
                </div>
            </div>
        <div style="padding-top:15px;">
        Replying to @FakeUser <br>
        <a href="">@FakeUser</a> Good day, Captain. <a href="">#ISS</a> is in standard orbit and Commander Swanson has the conn. Hope you’re having a great weekend!<br>
        <p style="color: gray;">7:56 PM - Aug 2, 2014</p>
        </div>
        </div>