<p style="height:100px;"></p>




<div class="footer">

    <p style="height:10px;"></p>



            <div class="footer-detail">
        <a href="https://twitter.com/flatlandsio" target="_blank"><img style="width: 40px; height: 40px;" src="/static/img/so_twitter.png"></a>&emsp;
        <p style="height:100px;"></p>

        
        {% include 'fake_tweet.html' %}
        <br>
        {% include 'fake_tweet.html' %}
        <br>
        {% include 'fake_tweet.html' %}
        <br>
   
    </div>
    <div class="footer-detail">
        <a href="https://www.github.com/" target="_blank"><img style="width: 40px; height: 40px;" src="/static/img/so_github.png"></a>&emsp;
    
        <p style="height:100px;"></p>

        
        {% include 'fake_tweet.html' %}
        <br>
        {% include 'fake_tweet.html' %}
        <br>
        {% include 'fake_tweet.html' %}
        <br>
    </div>
    <div class="footer-detail">
<a href="https://www.instagram.com/" target="_blank"><img style="width: 40px; height: 40px;" src="/static/img/so_instagram.png"></a>

<p style="height:100px;"></p>

        
{% include 'fake_tweet.html' %}
<br>
{% include 'fake_tweet.html' %}
<br>
{% include 'fake_tweet.html' %}
<br>

    </div>

    <p style="height:200px;"></p>

</div>



<br>



<!--
<div style="padding-top:60px;padding-bottom: 60px;;text-align: center;">
© Copyright 2017, Flatlands.io
</div>
!-->