<div class="header">

<div class="col">

<div class="title"><a href="/blog">flatlands</a></div>

  <div style="font-size: 19px;" class="header-nav">
    <a href="/blog">articles</a>
    <!-- <a href="/portfolio">portfolio</a> !-->
    <a href="/about">about</a>
    <!-- <a href="/settings">admin</a> !-->
  </div>
</div>

<div class="col_social">
<p style="height:8px;"></p>
<a href="https://twitter.com/flatlandsio" target="_blank"><img style="width: 25px; height: 25px;" src="/static/img/so_twitter.png"></a>&emsp;
<a href="https://www.github.com/" target="_blank"><img style="width: 25px; height: 25px;" src="/static/img/so_github.png"></a>&emsp;
<a href="https://www.instagram.com/" target="_blank"><img style="width: 25px; height: 25px;" src="/static/img/so_instagram.png"></a>
</div>

</div>

<hr>