<div style="display:flex; justify-content:flex-end;">
<a style="color:rgb(59, 72, 89);font-size:10px;" href="/login">login</a>
</div>
<div class="header">
   
<div class="col">
<br>


<div style="display: flex; justify-content: space-between;">
<div class="title">
  <a href="/article">flatlands</a>
</div>

    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" aria-label="Search">
      <button id="search-button" class="btn btn-light" type="submit">

          <svg id="search-icon" class="search-icon" viewBox="0 0 24 24">
              <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
     

      </button>
    </form>

   

</div>
<br>
  <div style="font-size: 19px;" class="header-nav">
    <a href="/article">articles</a>
    <a href="/article"><s>solutions</s></a>
    <a href="/article"><s>about</s></a>
    
  </div>
</div>

</div>