{% extends "base.html" %}
{% block content %}

<div class="sub-nav">
    {% for type in software_types %}
        <a href="#{{ type }}">{{ type }}</a>
    {% endfor %}
</div>

<hr>

<p style="height: 20px;"></p>

{% for type in software_types %}
<div class="section-head"><h4>{{ type }}</h4></div>
<a name="{{ type }}"></a>
    {% for code, data in software.items() %}
        {% if data.type == type %}
        <p style="height:10px;"></p>
            <div class="blog-post">
                <h1 style="color: rgb(255, 72, 0); font-size: 40px; margin-bottom: 30px;">{{data.title}}</h1>

                <img style="margin-top: 5px; margin-bottom: 5px; width: 20px; height: 20px;" src="{{ url_for('static', filename='img/002-document.svg') }}">  &nbsp; &nbsp;  &nbsp;  
                <span style="font-size: 18px;">{{data.summary}}</span> <br>
                <img style="margin-top: 5px; margin-bottom: 5px; width: 20px; height: 20px;" src="{{ url_for('static', filename='img/001-layers.svg') }}"> &nbsp; &nbsp;  &nbsp; 
                <span style="font-size: 18px;">{{data.tech}}</span> <br>
                <img style="margin-top: 5px; margin-bottom: 5px; width: 20px; height: 20px;" src="{{ url_for('static', filename='img/003-link.svg') }}"> &nbsp; &nbsp;  &nbsp; 
                <span style="font-size: 18px;">{{data.code}}</span> <br>

                <hr>
                Goals:
                <div class="blog-post-strap">{{data.goal}}</div>

            </div>
        {% endif %}
    {% endfor %}
    <div style="color: rgba(0, 92, 173, 0.5);; text-align: center; word-spacing: 50px; font-size: 50px">· · ·</div>
{% endfor %}

{% endblock %}