{% extends "base.html" %}
{% block content %}

{% include 'solution_nav.html' %}

<p style="height:10px;"></p>

<!--
<div style="color:white;background-color:rgba(1, 1, 1, .05);border-color:rgba(255, 255, 255, .07);border-radius: 5px;margin-left:10%;margin-right:10%;padding:10px;padding-left:20px;border-style: solid;border-width: thin;">
    with many 

</div>
!-->


    {% for type in solution_types %}
    <a name="{{ type }}">
        <div class="section-head">
            <h4>{{ type }}</h4>
        </div>
    </a>

    {% for id, solution in solutions.items() %}
    {% if solution.type == type %}

    <div class="solution">
          
            <h4><a href="#">{{solution.title}}</a></h4>

            <small>
                   <a href="{{solution.code}}">code</a> | <a href="{{solution.code}}">docs</a><br>
                

            
                    tags:&emsp;
                        {% for tag in solution.tags %}
                        <span class="badge badge-light"><a style="color:black;" href="/tag/{{tag}}">{{tag}}</a></span>
                        {% endfor %}
                    
            </small>

<hr style="background-color:white;">
<p style="font-weight:900;margin:0; font-size:12px;color:rgba(0, 0, 0, .3);padding-left:0;letter-spacing: 2px;">what...</p>

            <h4>{{solution.summary}}</h4>
            <p style="height:20px;"></p>

            <p style="font-weight:900;margin:0; font-size:12px;color:rgba(0, 0, 0, .3);padding-left:0;letter-spacing: 2px;">why...</p>
           <small>
  {{solution.goal}}
        </small>

        <p style="height:10px;"></p>
</div>
<p style="height:20px;"></p>
    {% endif %}

    {% endfor %}
    {% endfor %}





{% endblock %}