
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(white, rgb(89, 102, 119));
  
  }
pre {
  color: rgb(168, 45, 0);
  background-color: rgb(236, 236, 236);
  border-radius: 10px;
  padding: 10px;
  padding-left: 20px;
}
.header {
  margin: 0;
  padding-top: 10px;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;

}
.header a {
  color: rgb(59, 72, 89);
  text-decoration: none;
  font-weight: 100;
}
.title {
  margin: 0;
  font-size: 50px;
}
.header-nav {
  margin: 0;
  word-spacing: 30px;
  font-size: 15px;
}
.header-nav a {
  color: rgb(59, 72, 89);
  text-decoration: none;
}
.header-nav a:hover {
  color: black;
  border-width: 1px;
  border-bottom-style: dotted;
}
.col {
  margin: 0;
  padding: 0;
  border: 0;
  width: 75%;
}
.col_social {
  margin: 0;
  padding: 0;
  border: 0;
  width: 25%;
  text-align: right;
}
.col_social img {
  opacity: 0.2;
}
.col_social img:hover {
  opacity: 0.8;
}
.sub-nav {
  padding-left: 10%;
  color: rgba(242, 242, 242, .5);
  word-spacing: 30px;
  font-size: 15px;
}
.sub-nav a {
  color: rgb(242, 242, 242);
  text-decoration: none;
}
.sub-nav a:hover {
  color: white;
  border-width: 1px;
  border-bottom-style: dotted;
}
.main-content {
  box-shadow: 0px 197px 9px -198px rgba(0,0,0,.5) inset;
  -webkit-box-shadow: 0px 197px 9px -198px rgba(0,0,0,.5) inset;
  -moz-box-shadow: 0px 197px 9px -198px rgba(0,0,0,.5) inset;

background: linear-gradient(rgb(109, 122, 139), rgb(59, 72, 89));
  padding-top: 8%;
  padding-bottom: 5%;
  
  -webkit-transform: skewY(-5deg);
  -moz-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  -o-transform: skewY(-5deg);
  transform: skewY(-5deg);
}

.main-content > .main-content-wrapper{
 
  -webkit-transform: skewY(5deg);
  -moz-transform: skewY(5deg);
  -ms-transform: skewY(5deg);
  -o-transform: skewY(5deg);
  transform: skewY(5deg);
}
.section-head {
  height:110px;
}
.section-head h4 {
  font-size: 150px;
color:rgb(49, 62, 79);
}
.blog-post {
position:relative;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 40px;
}
.blog-post h4 {
  margin:0px;
}
.blog-post small {
  color: rgba(242, 242, 242, .5);
  font-size: 11px;
}
.blog-post small a {
  color: rgba(242, 242, 242, .5);
}
.blog-post-strap {
  color: rgb(242, 242, 242);
  font-style: italic;
}

.blog-post-tag small {
  color: rgba(242, 242, 242, .5);
}

.blog-post-tag small a {
  color: rgba(242, 242, 242, .5);

}
.blog-post h4 {
}
.blog-post a {
  font-size: 40px;
  font-weight: 300;
  color: rgb(242, 242, 242);
  text-decoration: none;
}
.blog-post a:hover {
  color: rgb(242, 241, 223);
  border-width: 1px;
  border-bottom-style: dotted;
}
.post {
  padding-left: 10%;
  padding-right: 5%;
  padding-bottom: 40px;
}
.post small {
  position: relative;
  top: 10px;
  color: rgb(242, 242, 242);
  font-size: 11px;
  font-style: italic;
}
.post h4 {
  color: rgb(242, 242, 242);
}
.post a {
  color: rgb(255, 72, 0);
  text-decoration: none;
}
.post a:hover {
  color: rgb(255, 72, 0);
  border-width: 1px;
  border-bottom-style: dotted;
}
.footer {
  display: flex;
  justify-content: space-around;


}
.footer-detail {

}
.footer-detail a {
  color: rgb(255, 72, 0);
  text-decoration: none;
}
.footer-detail a:hover {
  border-width: 1px;
  border-bottom-style: dotted;
}

.footer-detail img {
  -webkit-filter: drop-shadow(3px 3px 0px rgb(59, 72, 89));
  filter: drop-shadow(3px 3px 0px rgb(59, 72, 89)); 
}

#search-button {
  width: 50px;
  height: 35px;
}