
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(rgb(255, 201, 14), rgb(255, 201, 14));
  
  }

  .form-control:focus {
    box-shadow: none; -webkit-box-shadow: none;
  }

  .title {
    margin: 0;
    font-size: 75px;
    text-shadow: 1px 1px rgba(1, 1, 1, .5);
  }
.header {
  margin: 0;
  padding-top: 10px;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;

}
.header a {
  color: white;
  text-decoration: none;
  font-weight: 300;

}

.header-nav {
  margin: 0;
  word-spacing: 30px;
  font-size: 15px;
}
.header-nav a {
  color: black;
  font-weight: 300;
  text-decoration: none;
}
.header-nav a:hover {
  color: black;
  border-width: 1px;
  border-bottom-style: dotted;
}
.col {
  margin: 0;
  padding: 0;
  border: 0;
  width: 75%;
}
.col_social {
  margin: 0;
  padding: 0;
  border: 0;
  width: 25%;
  text-align: right;
}
.col_social img {
  opacity: 0.2;
}
.col_social img:hover {
  opacity: 0.8;
}
.sub-nav {
  padding-left: 10%;
  color: rgba(242, 242, 242, .5);
  word-spacing: 30px;
  font-size: 15px;
}
.sub-nav a {
  color: rgb(242, 242, 242);
  text-decoration: none;
}
.sub-nav a:hover {
  color: white;
  border-width: 1px;
  border-bottom-style: dotted;
}
.main-content {
  box-shadow: 0px 197px 9px -198px rgba(0,0,0,.5) inset;
  -webkit-box-shadow: 0px 197px 9px -198px rgba(0,0,0,.5) inset;
  -moz-box-shadow: 0px 197px 9px -198px rgba(0,0,0,.5) inset;

background: linear-gradient(rgb(109, 122, 139), rgb(59, 72, 89));
  padding-top: 3%;
  padding-bottom: 5%;
  
  -webkit-transform: skewY(-5deg);
  -moz-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  -o-transform: skewY(-5deg);
  transform: skewY(-5deg);
}

.main-content > .main-content-wrapper{
 
  -webkit-transform: skewY(5deg);
  -moz-transform: skewY(5deg);
  -ms-transform: skewY(5deg);
  -o-transform: skewY(5deg);
  transform: skewY(5deg);
}
.section-head {
  height:110px;
}
.section-head h4 {
  font-size: 150px;
color:rgba(242, 242, 242, .1);
}
.blog-post {
position:relative;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 40px;
}
.blog-post h4 {

}
.blog-post small {
  color: rgb(242, 242, 242);
}
.blog-post small a {
  color: rgb(242, 242, 242);
}
.blog-post small span {}
.blog-post small span a:hover{
  color:rgb(255, 201, 14);
  text-decoration: none;
}
.blog-post-strap {
  color: rgb(242, 242, 242);
  font-style: italic;
}


.blog-post a {
  font-size: 40px;
  font-weight: 300;
  color: rgb(255, 201, 14);
  text-decoration: none;
}
.blog-post a:hover {
  border-color: rgb(255, 201, 14);
  border-width: 1px;
  border-bottom-style: dotted;
}

  /** used for markdown conversion **/
  .post .title {
    margin: 0;
    font-size: 50px;
    color: rgb(242, 242, 242);
  }
  
  .post pre {
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    padding: 30px;
    padding-left: 20px;
  }
.post {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 40px;
  color: rgb(242, 242, 242);
}
.post small {
  color: rgb(242, 242, 242);
  font-size: 11px;
  font-style: italic;
  margin:0;
}
.post h3 {
  padding-top:40px;
  padding-bottom:20px;
}
.post p {
  height:auto;
}
.post a {
  color: rgba(242, 242, 242, .5);
  text-decoration: none;
}
.post a:hover {
  color: rgba(242, 242, 242, .5);
  border-width: 1px;
  border-bottom-style: dotted;
}
.footer {
  display: flex;
  justify-content: space-around;


}
.footer-detail {

}
.footer-detail a {
  color: rgb(255, 72, 0);
  text-decoration: none;
}
.footer-detail a:hover {
  border-width: 1px;
  border-bottom-style: dotted;
}

.footer-detail img {
  -webkit-filter: drop-shadow(3px 3px 0px rgb(59, 72, 89));
  filter: drop-shadow(3px 3px 0px rgb(59, 72, 89)); 
}

#search-button {
  width: 32px;
  height: 32px;
}